
/* everything for the over 18 page */

/* I went very very simple with this so if you would like to get creative feel free! */
body{
  box-sizing: border-box;
  margin: 0;
  color: burlywood;
  line-height: 1.6;
  font-family: 'Cabin', sans-serif;
}

.showcase{
  background-image: linear-gradient(360deg, black 1%, transparent 75%),url('../assets/one.webp');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  letter-spacing: 8px;
  font-size: 80px;
  text-transform: uppercase;
}

.button{
  text-decoration: none;
  color:burlywood;
  border: burlywood 1px solid;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bolder;
  transition: all .3s;
}

.button:hover{
  color: #fff;
  background-color: burlywood;
  transform: scale(1.1);
}

